.searchBar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
    padding: 10px 25px;
    height: 45px;
}

.sortInput {
    background-color: aqua;
    display: flex;
    gap: 10px;
    align-items: center;
    color: gold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

li {
    background-color: white;
    border: 2px solid black;
    list-style: none;
}

li.active {
    background-color: darkgreen;
}

.searchInput {
    background-color: orangered;
}

input, label, select {
    margin-right: 10px;
}

input:last-child {
    margin-right: 0;
}
label:last-child {
    margin-right: 0;
}
select:last-child {
    margin-right: 0;
}