.searchBar {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 10px 25px;
    height: 85px;
    align-items: center;
}

.sortInput {
    display: flex;
    gap: 10px;
    align-items: center;
    color: gold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    border: 2px solid black;
    list-style: none;
    font: 1em sans-serif;
}

button.active {
    background-color: darkgreen;
}

input, label, select {
    margin-right: 10px;
}

input {
    font-size: 1em;
    border-radius: 5px;
}

input:last-child {
    margin-right: 0;
}
label:last-child {
    margin-right: 0;
}
select:last-child {
    margin-right: 0;
}

