.business {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 0.75 rem;
    width: 200px;
    height: 200px;
}