html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url('./assets/backgroundImage.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-size: 20px;
}

/* Medium screens */
@media (max-width: 1400px) {
    body {
        font-size: 16px;
    }
}

/* Small medium screens */
@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}